.DS_Store
__pycache__/
*.py[cod]
*.log

.env
.env.*
!.env.example

.mofumofu/

dist/
build/
*.egg-info/
!mofu/agent_runtime/dist/
!mofu/agent_runtime/dist/**

node_modules/

vendor/pi/.git/
vendor/pi/.git-upstream/
vendor/pi/**/dist/
